@use '../tools/' as *;

// --------------------
/*   --- root css --- */
// --------------------

:root {
    --font-size:#{$font-size-100};
    --heading-L:#{$heading__L--Max};
    --heading-M:#{$heading__L--Max};
    --heading-S:#{$heading__S--Max};
    --body-Regular:#{$body__Regular--Max};
    --body-Bold:#{$body__Bold--Max};
}