@use '../tools/' as *;

// --------------------
/*   --- root css --- */
// --------------------

:root {
    --font-size:#{$font-size-100};
    --heading-L:#{$heading__L--Mid};
    --heading-M:#{$heading__M--Mid};
    --heading-S:#{$heading__S--Mid};
    --body-Regular:#{$body__Regular--Mid};
    --body-Bold:#{$body__Bold--Mid};
}

/* Simple Omelette Recipe */


// font-family: 'Young Serif';
// font-style: normal;
// font-weight: 400;
// font-size: 36px;
// line-height: 100%;
// /* or 36px */

// /* Dark Charcoal */
// color: #312E2C;