@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// --------------------
/* --- home main --- */
// --------------------

.home {
    font-optical-sizing: auto;
    background-color: $clr-bg-body ;
    // height: 100dvh;
    // width: 100dvw;
    // @include flexCenter;
}

.container {
    max-width: em(375, 16);
    margin: 0 auto;
    background-color: $clr-bg-container ;
   
}

.card {

    &__content {
        padding: em(40, 16) em(32, 16);
        font-family: $font-family-Outfit;

        h2 {
            font-family: $font-family-YoungSerif;
            font-size: var(--heading-M); //28px
            color: $clr-txt-heading-M;
            font-weight: 400;
            line-height: 1em;
        }

        p {
            font-size: var(--body-Regular); //16px
            color: $clr-txt-heading-par ;
            line-height: em(24, 16);
            font-weight: 400;
        }

        li {
            position: relative;
            font-size: var(--body-Regular);
            color: $clr-txt-LI; //16px
            line-height: em(24, 16);
            font-weight: 400;
            padding-bottom: em(8, 16);

            strong {
                font-weight: 700;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }

        .content__Heading {

            h1 {
                font-family: $font-family-YoungSerif;
                font-size: var(--heading-L); //36px
                color: $clr-txt-heading-L ;
                line-height: em(36, 36);
                font-weight: 400;

                margin-bottom: em(24, 36);
            }

            margin-bottom: em(32, 16);
        }

        .content__Preparation {
            padding: em(24, 16);
            font-family: $font-family-Outfit;
            border-radius: em($br-img, 16);
            background-color: $clr-bg-Preparation ;

            h3 {
                color: $clr-txt-heading-S ;
                font-weight: 600;
                line-height: em(20, 20);
                font-size: var(--heading-S); //20px
            }

            ul {
                margin-top: em(16, 16);

                li {
                    list-style-type: none;

                    padding-left: em(40, 16);

                    &::before {
                        content: '.';
                        position: absolute;
                        line-height: 0;
                        top: 0;
                        left: em(2, 16);

                        font-size: 2em;
                        color: $clr-txt-li-point--prep ;
                    }
                }
            }
        }

        .content__Ingredients {
            padding-block: em(32, 16);
            border-bottom: 1px solid $clr-br-list;
            margin-bottom: em(32, 16);

            ul {
                margin-top: em(24, 16);

                li {
                    list-style-type: none;
                    padding-left: em(40, 16);

                    &::before {
                        content: '.';
                        position: absolute;
                        line-height: 0;
                        top: 0;
                        left: em(2, 16);

                        font-size: 2em;
                        color: $clr-txt-li-point--ingr;
                    }
                }
            }
        }

        .content__Instruction {
            border-bottom: 1px solid $clr-br-list;
            padding-bottom: em(32, 16);
            margin-bottom: em(32, 16);

            ol {
                margin-top: em(24, 16);

                li {
                    list-style-type: none;
                    padding-left: em(40, 16);

                    &::before {
                        font-weight: 700;
                        position: absolute;
                        line-height: 1em;
                        top: 0;
                        left: em(6, 16);

                        color: $clr-txt-li-point--ingr;
                    }

                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}) {
                            &::before {
                                content:'#{$i}.'
                            }
                        }
                    }
                }
            }
        }

        .content__Nutrition {
            &>p:first-of-type {
                margin-top: em(24, 16);
            }

            ul {
                margin-top: em(24, 16);

                li {
                    display: flex;
                    justify-content: flex-start;
                    padding-bottom: em(12, 16);
                    border-bottom: 1px solid $clr-br-list;

                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                    }

                    &>p {
                        flex-basis: 50%;
                    }

                    & p:first-child {
                        padding-left: em(32, 16);
                    }

                    & p:last-child {
                        color: $clr-txt-Nutrition ;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}