@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// ----------------------
/* mediaqueries */
// ----------------------

@media only screen and (min-width: 501px) {

    :root {
        --font-size:#{$font-size-100};
        --heading-L:#{$heading__L--Max};
    }

    .container {
        max-width: em(736, 16);
        border-radius: em($br-card, 16);
        margin-block: em(125,16);
    }

    .card {
        padding: em(40, 16);

        &__img {
            border-radius: em($br-img, 16);
            overflow: hidden;
        }

        &__content {
            padding: em(40, 16) em(0, 16);
        }
    }
}

;